{% extends "template/base.twig" %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.css"/>
{% endblock %}
{% block content %}
<h3>Lista de novedades</h3>
<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Tipo de Novedad</th>
            <th>Creacion</th>
            <th>Notificada</th>
            <th>Operaciones</th>
        </tr>

    </thead>
    <tbody>
    {% for novedad in novedades %}
        <tr>
            <td>{{ novedad.titulo }}</td>
            <td>{{ novedad.tipo_novedad == 1 ? 'Destacada' : 'Principal' }}</td>
            <td>{{ novedad.created_at }}</td>
            <td>{{ novedad.published == 1 ? 'Sí' : 'No' }}</td>
            <td>
                <a data-dismiss="modal" class="btn btn-primary" href="{{ path_for("novedad.editarnovedad", {'id' : novedad.id_novedad}) }}">Editar</a>-
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Eliminar <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path_for('novedad.delete', {'id' : novedad.id_novedad}) }}">Eliminar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Cancelar</a></li>
                    </ul>
                </div>
                <a data-id="{{ novedad.id_novedad }}" class="send-notification btn btn-warning">Enviar <i class="fa fa-bell"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            $("table").DataTable();
        });
    </script>
{% endblock %}
