<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Adminarrobapp</title>



    <link href="{{ base_url }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ base_url }}/css/metisMenu.css" rel="stylesheet">
    <link href="{{ base_url }}/css/sb-admin-2.css" rel="stylesheet">
    <link href="{{ base_url }}/css/font-awesome.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <img src="https://firebasestorage.googleapis.com/v0/b/adminapparrobamedellin.appspot.com/o/IMG%2Fic_launcher_icon-web.png?alt=media&token=828c26e5-576d-4c92-97c4-13b296fb76a6" alt="" height="50"width="50">
                <a>Administrador APP @Medellín, user: </a>
                <!-- -->
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i><b>{{  auth.user.name }}</b></a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a  href="{{ path_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->



                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dashboard fa-fw"></i>home</a>
                        </li>
                        
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i>Usuarios<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a ><i class="fa fa-plus fa-fw"></i>Agregar usuario</a>
                                </li>
                                <li>
                                    <a ><i class="fa fa-th-list  s fa-fw"></i>Ver usuarios</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>



                        
                        <li>
                            <a href="#"><i class="fa  fa-tags fa-fw"></i>Novedades<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                              <li>
                                  <a ><i class="fa fa-plus fa-fw"></i>Agregar novedad</a>
                              </li>
                              <li>
                                  <a ><i class="fa fa-th-list  s fa-fw"></i>Ver Novedades</a>
                              </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-book fa-fw"></i>Ofertas academicas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                              <li>
                                  <a ><i class="fa fa-plus fa-fw"></i>Agregar oferta</a>
                              </li>
                              <li>
                                  <a ><i class="fa fa-th-list  s fa-fw"></i>Ver ofertas</a>
                              </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-wrench fa-fw"></i>Configuraciones<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">

         {% block content %}{% endblock %}



            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ base_url }}/js/jquery.min.js"></script>
    <script src="{{ base_url }}/js/bootstrap.js"></script>
    <script src="{{ base_url }}/js/metisMenu.js"></script>
    <script src="{{ base_url }}/js/sb-admin-2.js"></script>

</body>

</html>
